form, .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;

    label {
        margin: 10px 0;

        input, select, textarea {
            border: 2px solid $grey;
            padding: 5px 10px;
            width: 100%;
            border-radius: 5px;
        }

        textarea {
            resize: vertical;
        }
    }

    input[type=submit], button.cta {
        margin: 0 auto;
    }
}